<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MeowMeowPunch.pickeat.domain.diet.repository.FoodMapper">
    <select id="findFoodsForCursor" resultType="MeowMeowPunch.pickeat.domain.diet.entity.Food">
        SELECT
        id,
        name,
        base_amount,
        base_unit,
        kcal,
        carbs,
        protein,
        fat,
        thumbnail_url
        FROM foods
        WHERE 1 = 1
        <if test="cursorId != null">
            AND id &gt; #{cursorId}
        </if>
        ORDER BY id ASC
        LIMIT #{limit}
    </select>

    <select id="findFoodsByKeyword" resultType="MeowMeowPunch.pickeat.domain.diet.entity.Food">
        SELECT
        id,
        name,
        base_amount,
        base_unit,
        kcal,
        carbs,
        protein,
        fat,
        thumbnail_url
        FROM foods
        WHERE name ILIKE CONCAT('%', #{keyword}, '%')
        <if test="cursorId != null">
            AND id &gt; #{cursorId}
        </if>
        ORDER BY id ASC
        LIMIT #{limit}
    </select>

    <select id="findFoodsByKeywordCount" resultType="int">
        SELECT COUNT(*)
        FROM foods
        WHERE name ILIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>
